<link rel="stylesheet" href="css/style.css">
<div ng-include="'templates/_nav.html'"></div>
<main class="container">
	<!-- Add Form -->	

  <!-- Modal Structure -->
      <!-- <h4 ng-if="!editando">Adicionar Produto</h4>
      <h4 ng-if="editando">Editar Produto</h4> -->
      
      <div class="row">
      	<div class="input-field col m4 s12">
          <input type="text" ng-model="Product.name" class="validate" placeholder="Nome">
          
        </div>
        
        <div class="input-field col m4 s12">
          <input type="text" ng-model="Product.description" class="validate" placeholder="Descrição">
          
        </div>
        <div class="input-field col m2 s12">
          <input type="text" ng-model="product.price" class="validate" placeholder="Preço">
          
				</div>
				
				<div class="col m2 s12">
					<a ng-if="!editando" ng-click="addProduto(Produto)" class="btn blue"><i class="far fa-plus-square"></i></a>
					 <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red "><i class="fas fa-ban"></i></a> -->
		
				</div>
      </div>
		</div>
	
    
	<div class="row">
		<table class="striped highlight centered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Preço</th>
					<th>Descrição</th>									
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in products | filter:busca">
					<td>{{product.id}}</td>
					<td>{{product.name}}</td>
					<td>{{product.price}}</td>
					<td class="truncate">{{product.description}}</td>					
					<td>
						<button ng-click="editarProduto(produto)" class="btn blue"><i class="far fa-edit"></i></button>
						<button ng-click="deletarProduto(produto)" class="btn red"><i class="fas fa-minus-circle"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row">
		<!-- Modal Trigger -->
  		<a ng-click="abreAddProduto()" class="waves-effect waves-light btn"><i class="far fa-plus-square"></i></a>
	</div>
</main>
